*.pyc
*.pyo
*.so
*.o
*~
*#
*.h5
#*.nc
#*.pdf
*.png
*.dat
*.tar
*.gz
*.pickle
*#unison*
junk*
.#*
*.old
*.shp
*.dbf
*.shx
*.svg
*.cache
.gmt*
*.bak
*.egg*
.scons*
.Python
.svn/
build/
html/
CVS/
lib/
include/
man/
packages/
anaconda/
.ipynb_checkpoints/
SWOT/
